<app-header></app-header>
<div class="flex flex-row">
    <div class="basis-1/6">
        <app-navbar></app-navbar>
    </div>
    <div class="basis-11; flex flex-col" >
        <!-- <div class="mt-5 px-4 rounded-lg bg-transparent border-solid border-2 border-slate-400" style="height: 155px; width: 1300px;"> -->
        <div class=" mt-6 border-t-4 rounded-lg px-4 border-neutral-300" style="width:1300px">
            <div class="mt-5"><strong><h2>ŞEHİR YÖNETİMİ</h2></strong></div>
             <br>
            <button class="px-4 py-3 rounded-lg bg-gray-500 text-white" style="width: 200px;" (click)="ngxSmartModalService.getModal('myModal').open()">Yeni Şehir</button>
            <ngx-smart-modal #myModal identifier="myModal">
                <div class="flex flex-row space-x-5">
                    <div class="mt-3 w-70">
                        <div class="mb-1 text-neutral-500">Şehir</div>
                        <input [(ngModel)]="city.cityName" type="text" class="form-input rounded-lg w-full" placeholder="Şehir"/>
                    </div>
                    <div class="mt-7 w-40">
                        <button (click)="fncCityAdd()" class="mt-2 px-10 py-3 rounded-2xl bg-gray-500 text-white" type="submit">Ekle</button>
                    </div>
                </div>
            </ngx-smart-modal>
        </div>
        <!-- <div class="mt-5 px-4 rounded-lg bg-transparent border-solid border-2 border-slate-400 h-screen" style="width: 1300px;"> -->
            <div class=" mt-6 border-t-4 rounded-lg px-4 border-neutral-300">
            <div class="mt-5"><h4>Şehir Listesi</h4></div>
                <div class="bg-transparent" style="height:60px; width: 1265px">
                    <input [(ngModel)]="search" (keyup)="fncSearch()" type="search" class="form-input rounded-lg mt-2" placeholder="Şehir Ara" />
                </div>

            <div style="height: 300px;">
                <div class="py-1 inline-block min-w-full sm:px-6 lg:px-0" >
                    <table class="min-w-full bg-transparent">
                        <thead class="border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Şehir Adı
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Aksiyon
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b" *ngFor="let item of allCity; let i = index" >
                                <td style="text-transform:capitalize" class="text-sm text-gray-700 font-light px-6 py-4 whitespace-nowrap">{{item.cityName}}</td>
                                <td class="px-6 py-4">
                                    <button  (click)="fncRemove(item.id!)" class="text-black p-1 rounded ml-4">Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
