<app-header></app-header>
<div class="flex flex-row">
    <div class="basis-1/6">
        <app-navbar></app-navbar>
    </div>
    <div class="basis-11; flex flex-col" >
        <!-- <div class="mt-5 px-4 rounded-lg w-full h-full border-solid border-4 border-neutral-300"> -->
        <div class=" mt-6 border-t-4 rounded-lg px-4 border-neutral-300" style="width:1300px">
            <div class="mt-5"><strong><h2>HAVA DURUMU</h2></strong></div>
                <div>
                    <h3 class="text-neutral-500">Şehirler</h3>
                        <div class="flex flex-row space-x-5">
                            <div>
                                <select [(ngModel)]="selectedCity" class="rounded-lg bg-transparent" name="city" id="city" style="width:350px;">
                                    <option *ngFor="let item of allCity; let i = index">{{item.cityName}}</option>
                                </select>
                            </div>
                            <!-- <div class="mt-3">
                                <select [(ngModel)]="selectedUser" class="rounded-lg" name="city" id="city" style="width:350px;">
                                    <option *ngFor="let item of allUser; let i = index">{{item.userName}}</option>
                                </select>
                            </div> -->
                            <div class="w-full">
                                <!-- class="px-20 py-2.5 border-solid border-2 border-slate-700 rounded-lg bg-transparent text-slate-700" -->
                                <button (click)="printCity()" class="px-20 py-2.5 rounded-lg bg-gray-500 text-white" type="submit">Ara</button>
                            </div>
                        </div>
                </div>
                <div class=" mt-6 border-t-4 rounded-lg px-4 border-neutral-300" style="width:1300px">
                    <div class="mt-6">
                        <b>Şehir Hava Durumu</b>
                            <div class="mt-5 px-4 rounded-lg" style="height: 200px; width: 450px; background-color:rgba(77, 78, 119, 0.247);">
                                    <div class="text-gray-100 text-2xl" style="text-transform:capitalize">{{printedUser}}</div>
                                    <div class="flex flex-row mt-6">
                                        <div class="text-gray-100 text-4xl mt-5" style="text-transform:capitalize"> {{printedCity}}</div>
                                        <div class="ml-20 text-gray-100 text-6xl mt-5">{{temperature.temp}} °C</div>
                                    </div>
                                    <div class="mt-10 text-green-500 text-lg">{{temperature.desc}}</div>
                            </div>
                            <div class="h-36"></div>
                    </div>
                </div>
        </div>
    </div>
</div>

